html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 50px;
    color: white;
}
a{
    font-size: 16px;
    color: aquamarine;
}
p{
    color: grey;
}
#phone{
    margin-top: 2em;
}
#logo{
    margin-left: auto;
    font-size: 1.5em;
}

@media (min-width: 320px) and (max-width: 480px),(orientation: portrait){
    .camp{
      width: 95%;
    }
  }